<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.thymeleaf.org" layout:decorate="~{/layout/layout.html}">
  <head>
    <title>Reservation</title>
    <script src="/js/common.js"></script>
    <script>
        $(function(){
           $("#datepicker").datepicker({
               dateFormat: "yy-mm-dd", // 날짜 형식 설정
           });
         })
       
   </script>
   
    <style>

        h6{
            margin-top: 2px;
            margin-bottom: 2px;
        }
        .form-control{
            width: 400px;
        }

        
    </style>
  </head>


  <body>
    <div layout:fragment="contents">
        <div class="container">
                    <h2>일정등록</h2>
               
                <div class="card-body">
                    <form action="/bus/register" th:object="${busDto}" method="post">
                        <h6>버스번호</h6>
                        <input type="text" class="form-control" placeholder="Input" id="BusNo" name="BusNo" th:value="${busDto?.BusNo}">
                        <h6>좌석 수</h6>
                        <input type="text" class="form-control" placeholder="Input" id="SeatsTotal" name="SeatsTotal" th:value="${busDto?.SeatsTotal}">
                        <h6>출발지</h6>
                        <input type="text" class="form-control" placeholder="Input" id="Departure" name="Departure" th:value="${busDto?.Departure}">
                        <h6>도착지</h6>
                        <input type="text" class="form-control" placeholder="Input" id="Arrival" name="Arrival" th:value="${busDto?.Arrival}">
                        <h6>일자</h6>
                        <h6>일정을 선택해주세요. <input type="text" id="datepicker" name="BusDate" th:value="${busDto?.BusDate}"></h6>
                        <button type="submit" value="submit" class="btn btn-lg btn-primary">제출</button> 
                    </form>
             </div>
</div>
</div>
</body>
</html>

