<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.thymeleaf.org" layout:decorate="~{/layout/layout.html}">
  <head>
    <title>NOTICE</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
  </head>
  <body>
    <div layout:fragment="contents">
      <div class="container">
        <!-- 여기서 부터 달라지는 내용 -->
        <h2>공지사항</h2>
        <table class="table table-striped">
          <colgroup>
            <col />
            <col />
            <col />
            <col />
            <col />
          </colgroup>
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">제목</th>
              <th scope="col">작성자</th>
              <th scope="col">작성일</th>
              <th scope="col">조회수</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item : ${noticeList}">
              <th th:text="${item.no}">1</th>
              <td>
                <a href="" th:text="${item.title}" th:href="@{/board/view(no=${item.no})}"></a>
              </td>
              <td th:text="${item.userName}">Otto</td>
              <td th:text="${item.regDate}">@mdo</td>
              <td th:text="${item.hit}">@mdo</td>
            </tr>
          </tbody>
        </table>
       
      </div>
    </div>
  </body>
</html>