<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.thymeleaf.org" layout:decorate="~{/layout/layout.html}">
  <head>
    <title>HOME</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
  </head>
  <body>
    <div layout:fragment="contents">
      <div class="container">
        <!-- 여기서 부터 달라지는 내용 -->
        <h2>게시글 보기</h2>
        <table class="table table-striped">
          <colgroup>
            <col />
            <col />
            <col />
            <col />
          </colgroup>
          <tbody>
            <tr>
              <th>제목</th>
              <td colspan="3" th:text="${boardDto.title}">제목 들어갑니다.</td>
            </tr>
            <tr>
              <th>작성자</th>
              <td colspan="3" th:text="${boardDto.userName}">글쓴 사람 들어갑니다.</td>
            </tr>
            <tr>
              <th>작성일시</th>
              <td th:text="${boardDto.regDate}">2023/04/15</td>
              <th>HIT</th>
              <td th:text="${boardDto.hit}">1000000</td>
            </tr>
            <tr>
              <th>내용</th>
              <td colspan="3" th:text="${boardDto.contents}">내용이 들어갑니다.</td>
            </tr>
          </tbody>
        </table>
        <div class="mt-5 text-center">
          <a th:href="@{/board/reply(no=${boardDto.no})}" class="btn btn-primary">REPLY WRITE</a>
          <a href="/" class="btn btn-secondary">HOME</a>
        </div>
      </div>
    </div>
  </body>
</html>