<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
    <typeAlias type="com.pepe.demo.dto.MemberDto" alias="memberDto" />
    <typeAlias type="com.pepe.demo.dto.BusDto" alias="busDto" />
    <typeAlias type="com.pepe.demo.dto.ReservDto" alias="reservDto" />
    <typeAlias type="com.pepe.demo.dto.PartialReservDto" alias="partialreservDto" />
    <typeAlias type="com.pepe.demo.dto.BoardDto" alias="boardDto" />
  </typeAliases>
</configuration>
